:root {
  --font-size-sm: clamp(0.8rem, 0.17vw + 0.76rem, 0.89rem);
  --font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
  --font-size-md: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
  --font-size-lg: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
  --font-size-xl: clamp(1.95rem, 1.56vw + 1.56rem, 2.81rem);
  --font-size-xxl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
  --font-size-xxxl: clamp(3.05rem, 3.54vw + 2.17rem, 5rem);
}

* {
  box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
  color: #222;
  scroll-behavior: smooth;
  line-height: 1.4;
  font-size: var(--font-size-base);
}

body {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

figure img{
 max-width: 300px;
 max-height: 300px;
 display: grid;
 place-items: center;
}

figcaption {
  font-style: italic;
  text-align: center;
}

header {
  text-align: center;
  background-color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem .5rem;
}

header h1 {
  display: flex;
  flex-direction: column;
  margin:0%;
  font-size: var(--font-size-lg);
  padding-top: 2em;;
  color: #4dc87a;
}

header cite{
  font-size: var(--font-size-sm);
  padding-bottom: 2em;
  color: #4dc87a;
}

nav {
  display: flex;
  justify-content: space-around;
}

nav ul {
  display: flex;
  gap: 2em;
  margin-right: auto;
}

header nav ul li { 
  font-family: 'Roboto'sans-serif;
  font-size: var(--font-size-sm);
  list-style-type: none;
  margin-right: auto;
  color: #333;
  text-decoration: none;
}

header nav ul li:hover {
  color: rgb(82, 181, 203);
  text-decoration: none;
}

header a{
 list-style-type: none;
 text-decoration: none;
}

header a:visited {
  list-style-type: none;
  text-decoration: none;
  color: rgb(182, 182, 182);
 }

 section {
  padding-top: 5em;
  padding-bottom: 5em;
  border-bottom: #d8edff;
  border-top: #d8edff;
 }

.title-h2, .title-h1 {
  font-size: var(--font-size-xl);
  color: rgb(28, 80, 63);
}

.title-h1 {
  text-align: center;
  text-decoration: dotted;
 
}

.title-h3 {
  font-size: var(--font-size-md);
  color: #FF7927;  
}

.title-h3::before {
  font-family: "Material Icons Outlined";
  content: 'radio_button_checked';
  padding-right: 0.25em;
}

.first-nav ul {
  list-style-type: none;
}

dt {
  text-decoration: underline;
  font-weight: 700;
  padding-left: 2em;
  padding-bottom: 0.5em;
}

dt::before {
  font-family: "Material Icons Outlined";
  content: 'verified';
  padding-right: 0.25em;
}

dd {
  font-style: italic;
  padding-left: 3em;
}

.thelink a{
  text-decoration: none;
  color:rgb(82, 181, 203);
}

.thelink a:hover {
  text-decoration: underline;
  color: rgb(251, 181, 59);
}

.thelink a:visited {
  text-decoration: none;
  color:rgb(173, 27, 4);
}

.row img{ 
 display: inline-block;
 width: 200px;
}

.row-reverse img{
  display: inline-block;
 width: 200px;
}

.column img{
  display: inline-block;
 width: 200px;
}

.column-reverse img{
  display: inline-block;
  width: 200px;
}

.row {
  display: flex;
  flex-direction: row;
  background-color: #f6ff50;
  border-radius: 1000px;
  max-width:75%;
}

.row-reverse {
  display: flex;
  flex-direction: row-reverse;
  background-color: #f6ff50;
  border-radius: 100px;
  max-width:75%;
}

.column {
  display: flex;
  flex-direction: column;
}

.column-reverse {
  display: flex;
  flex-direction: column-reverse;
}

.align-center img{
  display: inline-block;
  width: 200px;
}

.align-stretch img{
  display: inline-block;
  width: 200px;
}

.flex-end img{
  display: inline-block;
  width: 200px;
}

.flex-start img{
  display: inline-block;
  width: 200px;
}

.flex-start {
  display: flex;
  align-items: flex-start;
}

.flex-end {
  display: flex;
  align-items: flex-end;
}

.align-center {
  display: flex;
  align-items: center;
}

.align-stretch {
  display: flex;
  align-items: stretch;
}

.align-stretch h4 , .align-center h4 ,
.flex-end h4 , .flex-start h4 {
  text-align: center;
  padding: 0 2em;
  color: rgb(0, 0, 0);
}

.align-center div p, .align-stretch div p,
 .flex-end div p, .flex-start div p{
  font-size: var(--font-size-sm);
  padding: 0.5em;
}

.align-center div, .align-stretch div,
 .flex-end div, .flex-start div {
  background-color: #d8edff;
  border: solid 2px #000;

 }


.button-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
}

button {
  padding: 1.5em;
  background-color: rgb(199, 223, 246);
  font-size: var(--font-size-md);
  color:#333;
  transition: all 2s ease;
  width: 300px;
  height: 300 px;
}

button:hover{
  background-color: #3c3670;
  border-radius: 50px;
  color:#FFF;
}


.grid-examples {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3%;
}

.grid-examples figcaption {
  text-align: center;
  color:#1470bd;
  font-weight: 700;
}
.grid-examples section {
  background-color: #f0e0a6;
  border-radius: 40px;
}

.MQ-Grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3%;
}

.MQ-Grid img{
  max-width: 100px;
  max-height: 100px;
}


body p {
  text-align: center;
  font-size: var(--font-size-base);
}

footer {
  padding: 3em;
  text-align: center;
  background-color: rgb(108, 108, 108);
}

footer cite{
  font-size: var(--font-size-sm);
  color:#4dc87a;
}

.element {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 75%;
  border: solid 4px  #FFF;
}

.element {
  animation: colour-circle 5s infinite;
}



@media (prefers-color-scheme: dark) {
  body {
    background: #333;
    color: #FFF;
  }
  
  .title-h2, .title-h1{
    color:aquamarine;
  }

  .title-h3 {
    color:#ff3a62;
  }

  footer {
    background-color: #000000;
  }

  .thelink a{
    text-decoration: none;
    color:rgb(197, 244, 255);
  }
  
  .thelink a:hover {
    text-decoration: underline;
    color: rgb(33, 127, 64);
  }
  
  .thelink a:visited {
    text-decoration: none;
    color:rgb(14, 122, 255);
  }

  .align-stretch h4 , .align-center h4 ,
.flex-end h4 , .flex-start h4 {
  text-align: center;
  padding: 0 2em;
  color: rgb(255, 255, 255);
}

.align-center div, .align-stretch div,
 .flex-end div, .flex-start div {
  background-color: #000000;
  border: solid 2px rgb(52, 255, 194);

 }

 button {
  padding: 1.5em;
  background-color: rgb(95, 152, 205);
  color:rgb(0, 0, 0);
  transition: all 2s ease;
}

 button:hover{
  background-color: #ffe058;
  border-radius: 50px;
  color:rgb(234, 0, 0);
}

}

@keyframes colour-circle {

    0% {
    background-color: #ebb0c6;
  }

   20% {
    background-color: #344f3e;
  }

   40% {
    background-color: #402c30;
  }

   60% {
    background-color: #49ff4c;
  }
  
  80% {
    background-color: #88c6f8;
}
  
  100%{
    background-color: #e0cdd4;
  }