:root {
  --font-size-sm: clamp(0.8rem, 0.17vw + 0.76rem, 0.89rem);
  --font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
  --font-size-md: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
  --font-size-lg: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
  --font-size-xl: clamp(1.95rem, 1.56vw + 1.56rem, 2.81rem);
  --font-size-xxl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
  --font-size-xxxl: clamp(3.05rem, 3.54vw + 2.17rem, 5rem);
}

* {
  box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
  color: #222;
  scroll-behavior: smooth;
  line-height: 1.4;
  font-size: var(--font-size-base);
}

body {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

figure img{
 max-width: 300px;
 max-height: 300px;
 display: grid;
 place-items: center;
}

figcaption {
  font-style: italic;
  text-align: center;
}

header {
  text-align: center;
  background-color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem .5rem;
}

header h1 {
  display: flex;
  flex-direction: column;
  margin:0%;
  font-size: var(--font-size-lg);
  padding-top: 2em;;
  color: #4dc87a;
}

header cite{
  font-size: var(--font-size-sm);
  padding-bottom: 2em;
  color: #4dc87a;
}

nav {
  display: flex;
  justify-content: space-around;
}

nav ul {
  display: flex;
  gap: 2em;
  margin-right: auto;
}

header nav ul li { 
  font-family: 'Roboto'sans-serif;
  font-size: var(--font-size-sm);
  list-style-type: none;
  margin-right: auto;
  color: #333;
  text-decoration: none;
}

header nav ul li:hover {
  color: rgb(82, 181, 203);
  text-decoration: none;
}

header a{
 list-style-type: none;
 text-decoration: none;
}

header a:visited {
  list-style-type: none;
  text-decoration: none;
  color: rgb(182, 182, 182);
 }

.title-h2, .title-h1 {
  font-size: var(--font-size-xl);
  color: rgb(28, 80, 63);
}

.title-h1 {
  text-align: center;
  text-decoration: dotted;
 
}

.title-h3 {
  font-size: var(--font-size-md);
  color: #FF7927;  
}

.title-h3::before {
  font-family: "Material Icons Outlined";
  content: 'radio_button_checked';
  padding-right: 0.25em;
}

.first-nav ul {
  list-style-type: none;
}

dt {
  text-decoration: underline;
  font-weight: 700;
  padding-left: 2em;
  padding-bottom: 0.5em;
}

dt::before {
  font-family: "Material Icons Outlined";
  content: 'verified';
  padding-right: 0.25em;
}

dd {
  font-style: italic;
  padding-left: 3em;
}

.button-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
}

button {
  padding: 1.5em;
  background-color: rgb(199, 223, 246);
  font-size: var(--font-size-md);
  color:#333;
  transition: all 2s ease;
  width: 300px;
  height: 300 px;
}

button:hover{
  background-color: #3c3670;
  border-radius: 50px;
  color:#FFF;
}


.grid-examples {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3%;
}

.grid-examples figcaption {
  text-align: center;
  color:#1470bd;
  font-weight: 700;
}
.grid-examples section {
  background-color: #f0e0a6;
  border-radius: 40px;
}

.MQ-Grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3%;
}

.MQ-Grid img{
  max-width: 100px;
  max-height: 100px;
  align-self: center;
}

body p {
  text-align: left;
  font-size: var(--font-size-base);
}

footer {
  padding: 3em;
  text-align: center;
  background-color: rgb(108, 108, 108);
}

footer cite{
  font-size: var(--font-size-sm);
  color:#4dc87a;
}


@media (prefers-color-scheme: dark) {
  body {
    background: #333;
    color: #FFF;
  }
  
  .title-h2, .title-h1{
    color:aquamarine;
  }

  .title-h3 {
    color:#ff3a62;
  }

  footer {
    background-color: #000000;
  }

}


.element {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 75%;
  border: solid 4px  #FFF;
}

.element {
  animation: colour-circle 5s infinite;
}


@keyframes colour-circle {

    0% {
    background-color: #ebb0c6;
  }

   20% {
    background-color: #344f3e;
  }

   40% {
    background-color: #402c30;
  }

   60% {
    background-color: #49ff4c;
  }
  
  80% {
    background-color: #88c6f8;
}
  
  100%{
    background-color: #e0cdd4;
  }