:root {
  --font-size-sm: clamp(0.8rem, 0.17vw + 0.76rem, 0.89rem);
  --font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
  --font-size-md: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
  --font-size-lg: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
  --font-size-xl: clamp(1.95rem, 1.56vw + 1.56rem, 2.81rem);
  --font-size-xxl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
  --font-size-xxxl: clamp(3.05rem, 3.54vw + 2.17rem, 5rem);
}

* {
  box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
  color: #222;
  scroll-behavior: smooth;
  line-height: 1.4;
  font-size: var(--font-size-base);
}

body {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}



header h1 {
  text-align: center;
  font-size: var(--font-size-lg);
  padding: 2em;
  background-color: #000;
  color: #FFF;
}

nav {
  display: flex;
  justify-content: space-around;
}

nav ul {
  display: flex;
  gap: 2em;
  margin-right: auto;
}

header nav ul li { 
  font-family: 'Roboto'sans-serif;
  font-size: var(--font-size-sm);
  list-style-type: none;
  margin-right: auto;
  color: #333;
  text-decoration: none;
}

header nav ul li:hover {
  color: rgb(82, 181, 203);
  text-decoration: none;
}

header a{
 list-style-type: none;
 text-decoration: none;
}

header a:visited {
  list-style-type: none;
  text-decoration: none;
  color: rgb(182, 182, 182);
 }

.title-h2, .title-h3, .title-h1 {
  font-size: var(--font-size-xl);
  text-align: center;
  color: rgb(28, 80, 63);
}

button {
  padding: 1.5em;
  background-color: aliceblue;
  font-size: var(--font-size-md);
  color:#222;
}

.grid-examples {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1em;
  padding: 1em 0;
}

.grid-examples p {
  text-align: center;

}

body p {
  text-align: center;
  font-size: var(--font-size-base);
}


@media (prefers-color-scheme: dark) {
  body {
    background: #333;
    color: #FFF;
  }
  
  .title-h2, .title-h3, .title-h1{
    color:aquamarine;
  }
}

.element {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 75%;
}

.element {
  animation: colour-circle 5s infinite;
}


@keyframes colour-circle {

    0% {
    background-color: #ec2d73;
  }

   20% {
    background-color: #4dc87a;
  }

   40% {
    background-color: #ff3a62;
  }

   60% {
    background-color: #fdc800;
  }
  
  80% {
    background-color: #1470bd;
}
  
  100%{
    background-color: #ec2d73;
  }